body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
.color{
    color: orange;
}
h1{
    font-size: 45px;
}
.heading{
    border-left: 5px solid red;
    border-radius: 5px ;
    padding-left: 10px;

}
.link-button{
    background-image: linear-gradient(red,tomato);
    text-decoration: none;
    padding:10px 30px;
    color:white;
    border-radius: 5px;
}
.half-width{
   width: 50%;
   padding-left: 60px;
}
.first{
    display: flex;
   margin-top: 100px;
}
.half-width img{
    width: 60%;
}
.items img{
    height:100px;
    width: 100px;
    margin-top: 0;
}
.items{
margin-left: 40px;
padding-left: 20px;
padding-right: 20px;
border-radius: 20px;
}
.second-items{
    display: flex;
}
.h2-heading{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 40px;
}
#first-item{
    background-image: linear-gradient(rgba(2, 180, 250, 0.336),white);
}
#second-item{
    background-image: linear-gradient(pink,white);
}
#third-item{
    background-image: linear-gradient(rgba(255, 192, 203, 0.281),rgb(255, 255, 255));
}
.third{
    display: flex;
    margin-top: 80px;
   padding-right: 40px;
}